
<!DOCTYPE html>
{%extends 'htmlpage/parent.html'%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	{%block for_child%}
	<h1 style="color:red;"><b>Student Details</b>
	</h1>
	<table border="2">
		<tr style="color:green;">
			<th>Number</th>
			<th>Name</th>
			<th>Marks</th>
			<th>Address</th>
		</tr>

	{%for i in stud%}
	<tr>
		<td><b>{{i.sno}}</b></td>
		<td><b>{{i.sname}}</b></td>
		<td><b>{{i.smarks}}</b></td>
		<td><b>{{i.saddr}}</b></td>
		<td><a href="/update/{{i.id}}">update</a></td>
		<td><a href="/delete/{{i.id}}">delete</a></td>
	{%endfor%}
</table>
	<br><br>
	<td><a href="/insert/{{i.id}}">Do you want to insert a new record</a></td>
	{%endblock%}
</tr>
<td></td>
</style>





</body>
</html>