<!DOCTYPE html>
{%extends 'htmlpage/parent.html'%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	{%block for_child%}
	<h1 style="color:blue;">Updation form</h1>
	<form method="POST">
		Number:<input type="text" name="sno"
		Value="{{stud.sno}}"><br><br>
		Name:<input type="text" name="sname"
		Value="{{stud.sname}}"><br><br>
		Marks:<input type="text" name="smarks"
		Value="{{stud.smarks}}"><br><br>
		Address:<input type="text" name="saddr"
		Value="{{stud.saddr}}"><br><br>
		{%csrf_token%}
		<input type="submit" value="submit">
	</form>
	{%endblock%}

</body>
</html>